@charset "UTF-8";

/*------------------------------
 75_ ネオマ断熱ボードで壁厚をおさえて温熱環境の改善に貢献―「市営住宅改修工事」採用事例のご紹介
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 76_ネオマ耐火スパンウォール/ネオマフォームFSの認定番号が新しくなりました。
認定番号更新に併せて「ネオマフォーム鉄骨造向けカタログ」を改訂しました。
------------------------------*/

@media screen and (min-width: 992px) {
  .marker-box {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #432f2f; /* Dark quare */
            vertical-align: middle;
            margin-right: 10px;
        }
}

@media (hover: hover) {}

/*------------------------------
 77_新規認定　ネオマフォームFS　壁準耐火45分認定を取得しました。
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 78_「ネオマフォーム鉄骨造向けカタログ」が新しくなりました（2024年11月）。
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 79_電気自動車（EV）向け省エネ部材としてのご提案
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 80_JIS A 9511 厚さ収縮率測定試験の結果をご紹介
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 81_食品向け展示会「フードテックジャパン2020」に出展しました
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

/*------------------------------
 82_食品向け展示会「フードテックジャパン2021」に出展しました
------------------------------*/

@media screen and (min-width: 992px) {}

@media (hover: hover) {}

